
body {
    background-image: url('1.jpg');
        background-size: cover;       /* заполняет весь блок без искажений */
        background-position: center;  /* центрирует картинку */
        background-repeat: no-repeat;
        background-attachment: fixed;  /* опционально: фон не двигается при скролле */
        min-height: 100vh;             /* минимум на всю высоту экрана */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;

}
.correct {
    background-color: #28a745;
}
.wrong {
    background-color: #dc3545;
}
.modal-overlay {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      display: none;              /* скрыто по умолчанию */
      justify-content: center;
      align-items: center;
      z-index: 2000;
    }

    .modal-window {
      background: white;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      max-width: 300px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    .modal-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
.lil {
    background: url(2.png);
    background-size: cover;
    border-radius: 100%;
    position: fixed;
    top: 2%;
    left: 2%;
    width: 80px;
    height: 80px;
    z-index: 1000;
}
.mainWrap {
    width: 80vw;
    height:100vh;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    margin: 20px;
    box-shadow: 
        0 8px 52px rgba(0, 0, 0, 0.2),
        inset 0 4px 12px rgba(131, 25, 25, 0.3);
}
.prim {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.p {
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
    margin-bottom: 10%;
    width: 80%;
}
.p:first-child {
    margin-top: 10%;
}
button {
    background-color: rgb(255, 208, 239);
    border: 1px solid rgb(167, 57, 130);
    border-radius: 10px;
    padding: 5px;
}
input {
    background-color: rgb(255, 212, 241);
    border: 1px solid rgb(167, 57, 130);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 3%;
    
}
.pwr {
    padding: 15px;
}
.pwr p {
    padding-bottom: 20px;
}